@inherits Umbraco.Web.Mvc.UmbracoViewPage<DynamicLoopCompany.Components.Models.Master.FooterLinksModel>
@{
    Layout = null;
}
<div id="footerContainer">
	<div id="footer">
	    <ul class="navigation">
	        @foreach (var link in Model.LeftSectionLinks)
	        {
                if (link.IsExternal)
                {
                    <li>
                        <a href="javascript:redirectWithDisclaimer('@link.Url', '@link.Disclaimer')"><span>@link.Title</span></a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@link.Url"><span>@link.Title</span></a>
                    </li>
                }
	        }
	    </ul>
		<div class="copyright">
		    © Nicolas Metaye
		</div>
		<div class="clear-all"></div>
	</div>
</div>